name: Check line length

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.md'

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install prettier
        run: npm install -g prettier

      - name: Check formatting
        continue-on-error: true
        run: make check-format
